cffi==1.17.1
colorama==0.4.6
colorzero==2.0
evdev==1.9.1
gpiozero==2.0.1
i2c-lcd==0.1.0
inputs==0.5
joblib==1.4.2
keyboard==0.13.5
numpy==2.2.4
pad4pi==1.1.5
pandas==2.2.3
pycparser==2.22
pyfiglet==1.0.2
pygame==2.6.1
pynput==1.8.1
pyrtlsdr==0.2.93
python-dateutil==2.9.0.post0
python-xlib==0.33
pytz==2025.2
RPi.GPIO==0.7.1
RPLCD==1.4.0
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
smbus-cffi==0.5.1
smbus2==0.5.0
termcolor==3.0.1
threadpoolctl==3.6.0
tzdata==2025.2
